
@model X.PagedList.IPagedList<Doctors_Web_Forum_FE.Models.Account>

@using X.PagedList.Mvc.Core;
@{
    ViewData["Title"] = "Account";
    Layout = "~/Areas/admin/Views/Shared/_LayoutAdmin.cshtml";
}

@Html.Raw(TempData["message"])
<div class="card">
    <form action="admin/accounts" method="get">
        <div class="input-group card-body pb-0" style=" width: 37%;">

            <input type="text" class="form-control" name="email" placeholder="Search Email..." value="@ViewBag.emailSearch">
            <button class="btn btn-outline-primary" type="submit" id="button-addon2">Search</button>

        </div>
    </form>
    <h5 class="card-header">List of Users</h5>
    <div class="card-body">
        <div class="table-responsive text-nowrap">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Basic Information</th>
                        <th>BirthDay</th>
                        <th>Status</th>
                        <th>Created Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <div class="d-flex align-items-start align-items-sm-center gap-4">
                                    <img src="@item.Avatar" alt="user-avatar" class="d-block rounded" height="60" width="60" id="uploadedAvatar">
                                    <div class="button-wrapper">

                                        <p class="fw-bold mb-0">@item.DisplayName</p>
                                        <p class=" mb-0">@item.Email</p>
                                    </div>
                                </div>

                            </td>
                            <td>
                                @if (item.BirthDay == null)
                                {
                                    <small>.............</small>
                                }
                                else
                                {
                                    @item.BirthDay
                                }
                            </td>
                            <td>
                                @if (@item.Status == 1)
                                {
                                    <span class="badge bg-label-primary me-1">Active</span>
                                }
                                @if (@item.Status == 2)
                                {
                                  <span class="badge bg-label-warning me-1">not activated yet</span>
                                }
                                @if (@item.Status == 3)
                                {
                                    <span class="badge bg-label-success me-1">is active</span>
                                }
                                @if (@item.Status == 4)
                                {
                                    <span class="badge bg-label-danger me-1">Lock</span>
                                }

                            </td>
                            <td>  <span>@String.Format("{0:MM/dd/yyyy}", @item.CreateDate)</span></td>
                            <td>
                                <div class="dropdown">

                                    <a href="admin/accounts/delete/@item.AccountId" onclick="return confirm('Are you sure you want to delete this user? (Note: Questions and answers of the this user  will be removed from the system)');"><button type="button" class="btn btn-sm btn-danger"><i class="bx bx-trash me-1"></i> Delete</button></a>
                                    @if (@item.Status == 4)
                                    {
                                        <a href="admin/accounts/unlock/@item.AccountId"><button type="button" class="btn btn-sm btn-danger"><i class="bx bx-lock me-1"></i> Unlock</button></a>
                                    }
                                    else
                                    {
                                        <a href="admin/accounts/lock/@item.AccountId"><button type="button" class="btn btn-sm btn-danger"><i class="menu-icon tf-icons bx bx-lock-open-alt"></i>lock</button></a>
                                    }

                                </div>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
        <div class="col-md-12 mt-5 d-flex" style="width: 100%;justify-content: space-between;">
            <div> Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</div>

            @Html.PagedListPager(Model, page => Url.Action("Account",
                new { page, title = @ViewBag.titleSearch }),

                new PagedListRenderOptions
                {
                    LiElementClasses = new string[] { "page-item" },
                    PageClasses = new string[] { "page-link" }
                })

        </div>
    </div>
</div>

